@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 1200px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #ffffff;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  list-style-type: none;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 340px;
  list-style: none;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.logo {
  margin-bottom: -6px;
  z-index: 0;
  position: relative;
}

.navigation-item {
  list-style-type: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin: 0 20px 0 auto;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
  display: block;
}

.navi-user {
  min-width: 44px;
  min-height: 64px;
  background-color: beige;
  display: block;
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-likes {
  background-image: url("../images/header/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

/*кнопка хочу сюда*/
.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  display: inline-block;
  appearance: none;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
}

.navi {
  width: 160px;
  padding: 8px 34px 8px 34px;
  margin: auto 0;
}

.main-container {
  flex: 1 1 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.hero {
  color: #ffffff;
  background-color: #057993;
  background-image: url("../images/main-page/hero-background.jpg");
  min-height: 485px;
  padding: 51px 70px 80px;
  text-align: center;
  background-size: cover;
  align-items: center;
}

.row {
  padding-left: 70px;
  padding-right: 70px;
}

.hero-welcome {
  max-width: 458px;
  object-fit: contain;
  margin: auto;
  display: block;
}

.greetings-container {
  display: grid;
  padding: 69px 70px;
  justify-content: center;
  align-items: center;
}

.greetings-title,
.services-title,
.hotels-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.greetings-title {
  margin-bottom: 25px;
}

.services-title {
  margin-bottom: 20px;
}

.hotels-search-title {
  margin-bottom: 20px;
}

.description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.search-description {
  margin-bottom: 54px;
}

/*Преимущества*/

.advantages-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: start;
}


.advantages-img {
  align-self: stretch;
}


.advantages-subtitle {
  margin: 30px 0 0 ;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-wrap: wrap;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-item-image {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  min-width: 1200px;
  margin: 0;
}

.item-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;

}

.advantages-big-block {
  display: flex;
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-grey {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.advantages-description {
  color: #333333;
  margin: 30px 0 0 0;
}

/*services*/

.services-title-container {
  display: flex;
  padding: 64px 70px;
  flex-direction: column;
  justify-content: center;
}

.services-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.services-title-about {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 0 30px;
}

.services-description-about {
  text-align: center;
  margin: 0;
  color: #333333;
}

.services-item {
  min-height: 385px;
  width: 400px;
  padding: 81px 85px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.services-item--haus,
.services-item--souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.button-hotels-search {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  padding: 8px 50px;
}

.hotels-search {
  display: flex;
  padding: 96px 130px;
  flex-direction: column;
  align-items: center;
}

/*newsletter*/
.newsletter {
  background-color: #057993;
  color: #ffffff;
  background-image: url(../images/main-page/Subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  min-height: 415px;
  text-align: center;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.newsletter-container {
  /*font-family:"PT Sans", "Arial", sans-serif;*/
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.page-footer-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.e-mail-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  padding: 12px 20px;
  align-items: center;
  gap: 260px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px 0 0 4px;
  border: none;
}

.button-newsletter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

/*footer*/
.page-footer-container {

}

.page-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  min-height: 120px;
  padding: 40px 70px 30px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 5px 0;
}

.footer-social-item {
}

.vk {
  display: block;
  width: 48px;
  height: 40px;
}

.telegram {
  display: block;
  width: 48px;
  height: 40px;
}
.youtube {
  display: block;
  width: 48px;
  height: 40px;
}

.footer-contact {
  margin: 5px 0;
}

.contact-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-website-developer {
  justify-self: end;
  margin: 5px 0;
}

/*Catalog*/

.navigation-link-navigation-link-current {
  text-decoration: inherit;
  color: inherit;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

}

.catalog-hotels {
  background-color: #000000;
  color: #ffffff;
  background-image: url(../images/catalog/catalog-filter.jpg);
  background-size: cover;
  width: 100%;
  min-height: 412px;
  display: flex;
  padding: 35px 70px 70px 70px;
  flex-direction: column;
}

.inner-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-right: 28px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0 0 32px;
}

.catalog-filter {
  display: flex;
  align-items: center;
}

.catalog-filter-group {
  padding: 0;
  border: none;
  width: 151px;
  height: 157px;
}

.catalog-filter-list {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  list-style: none;
  padding: 0;
}

/*Инфраструктура:*/

.catalog-filter-group.infra {
  margin-right: 70px;
}

.catalog-filter-group.preise {
  margin-left: auto;
  margin-right: 70px;
}

.filter-preise {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-family: inherit;
}

.button-filter-container {
  width: 191px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}



.button-apply {
  background-color: #82b3d3;
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
}

.hotels-container {
  padding: 50px 70px 60px 70px;
}

.results {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  margin: 0;
}

/*Сначала дешевые*/

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-color: #ffffff;
}

.sorting-container {
  display: flex;
  min-height: 49px;
  margin-bottom: 40px;
}

.view-sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}


.view-hotels:last-child {
  margin-right: 0;
}

.card-grid-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}


.card-grid-toggle-current {
  border: 2px solid #060606;
}

/*Отели*/

.hotel-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-item {
  width: 340px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  align-items: start;
  grid-template-rows: 1fr auto;
}

.hotel-card-link {
  display: block;
  text-decoration: none;
  grid-column: 1/-1;
}

.hotel-card-img {
  display: block;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  margin-top: 16px;
}

.card-text {
  margin: 0;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

.hotel-type {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.hotel-preise {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.grid-container {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
}

/*кнопка подробнее*/

.hotel-card-description {
 width: 140px;
 height: 36px;
 padding: 8px 26px;
}

/*кнопка в избранное*/

.hotel-card-button {
  background-color: #82b3d3;
  width: 140px;
  height: 36px;
  padding: 8px 20px;
}
.hotel-card-button:hover {
  background-color: #68a2ca;
  transition: 0.7s;
}
.hotel-card-button:active {
  background-color: #7DB54F;
}

.button-green {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  /* 125% */
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  padding: 8px 22px;
}

.star {
  height: 17px;
  width: 105px;
  margin: 0;
}

.star::before {
  content: '';
  display: block;
  height: 17px;
  background-image: url(../images/catalog/star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
}

.star-4::before {
  width: 85px;
}

.star-3::before {
  width: 65px;
}

.star-2::before {
  width: 45px;
}

.pagination-list {
  width: fit-content;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0 0;
  padding: 0;
  gap: 8px;
}

.pagination-link {
  display: block;
  padding: 12px 19px;
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  border-radius: 4px;
  min-width: 60px;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-text {
  background-color: #ffffff;
  color: #000000;
}

.pagination-item {}

/*Подпишитесь на рассылку*/

.newsletter-catalog {
  background: #FFF;
}

.page-footer-title.catalog {
  color: #000000;
}

.page-footer-description.catalog {
  color: #333333;
}

.e-mail-text.catalog {
  background-color: #F2F2F2;
}
