
@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;

  }

@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}


html {
    height: 100%;
}

*,*::before, *::after {
    box-sizing: border-box;
}


body {
    height: 100%;
    min-width: 1200px;

    font-family:"PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color:#000000;
    background: #FFFFFF;
    margin: 0;


}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.page-header {
    color: #000000;
    background-color: #FFFFFF;
    list-style: none;
    list-style-type: none;

}

.navigation-container{

}



.navigation {
    display: flex;

    margin: 0 auto;

}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 340px;
    list-style: none;
    margin: 0;
    margin-left: 30px;
    padding: 0;

}

.logo {
    margin-bottom: -6px;
}

.navigation-item {
    list-style-type: none;
}

.navigation-user {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0;
}
.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 20px 16px;
    display: block;
}

.navi-user {
  min-width: 44px;
  min-height: 64px;
  background-color: beige;
  display: block;
}

.nav-likes {
    background-image: url("../images/header/favorites.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}


/*кнопка хочу сюда*/
.navi {
    width: 160px ;
    height: 36px;
    border-radius: 4px;
    padding: 8px 34px 8px 34px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #756157;
    text-align: center;
    text-transform: uppercase;
    margin: auto 0;
  }
.main-container {
    flex: 1 1 auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.hero {
    color:#FFFFFF;
    background-color: #057993;
    background-image: url("../images/main-page/hero-background.jpg");
    min-height: 485px;
    padding: 51px 70px 80px;
    text-align: center;
    background-size: cover;
    align-items: center;
  }

.row {
    padding-left: 70px;
    padding-right: 70px;
}

.hero-welcome {
    max-width: 458px;
    object-fit: contain;
    margin: auto;
    display: block;

}

.greetings-container {
    display: grid;
    padding: 69px 70px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.greetings-title,
.services-title,
.hotels-search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.greetings-description,
.services-description,
.search-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin: 0;
}

/*Преимущества*/

.advantages-list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: start;
}


.advantages-img {
    align-self: stretch;
}


.advantages-subtitle {
    margin: 0;
}

.advantages-item {
    width: 400px;
    min-height: 385px;
    display: flex;
    flex-wrap: wrap;
    padding: 103px 85px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.advantages-item-image {
    background-color: #82B3D3;
    color: #FFFFFF;
    display: flex;
    min-width: 1200px;
    margin: 0;
}

.item-light {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;

}

.advantages-big-block
{
    display: flex;
    width: 400px;
    height: 385px;
    padding: 103px 85px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item-grey {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000;
}

.advantages-title {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.advantages-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    width: ;
}

/*services*/

.services-title-container {
    display: flex;
    padding: 64px 70px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.services-list {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content:center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.services-title-haus,
.services-title-food,
.services-title-souvenirs {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.services-description-about {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.services-item{
    height: 385px;
    width: 400px;
}

.services-item--haus,
.services-item--souvenirs {
    background-color: rgba(131, 179, 211, 0.12);
}

.search-description {

}

.button-hotels-search {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    background-color: #756157;
    width: 376px;
    height: 52px;
    border-radius: 4px;
    padding: 8px 50px;
    margin-top: 34px;
}

.hotels-search {
    display: flex;
    padding: 96px 130px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*newsletter*/
.newsletter{
    background-color: #057993;
    color: #FFFFFF;
    background-image: url(../images/main-page/Subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
    min-height: 415px;
    text-align: center;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.newsletter-container {
    /*font-family:"PT Sans", "Arial", sans-serif;*/
    padding: 96px 258px 104px 258px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-footer-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.page-footer-description {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.newsletter-form {
    display: flex;
}

.e-mail-text {
    font-family:"PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    padding: 12px 20px;
    align-items: center;
    gap: 260px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px 0 0 4px;
    border: none;
}

.button-newsletter {
    font-family:"PT Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-align: center;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;
}

/*footer*/
.page-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    min-height: 120px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.page-footer {
    text-decoration: none;
    font-style: normal;
    display: flex;
}

.footer-social-list{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-social-item {
    display: flex;
    width: 48px;
    height: 40px;
    align-items: center;
}

.contact-phone {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}


/*Catalog*/

.navigation-link-navigation-link-current {
    text-decoration: inherit;
    color: inherit;
    font-family:"PT Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

}

.catalog-hotels {
    background-color: #000000;
    color: #FFFFFF;
    background-image: url(../images/catalog/catalog-filter.jpg);
    background-size: cover;
    width: 100%;
    min-height: 412px;
    display: flex;
    padding: 35px 70px 70px 70px;
    flex-direction: column;
}


.inner-header-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    margin: 0;
}

.breadcrumbs-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.catalog-filter-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    padding-bottom: 32px;
}

.catalog-filter {
    display: flex;
    align-items: center;
}

.catalog-filter-group{
    padding: 0;
    border: none;
    width: 151px;
    height: 157px;
}

.catalog-filter-list {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    list-style: none;
    padding: 0;
}

/*Инфраструктура:*/

.catalog-filter-group.infra {
    margin-right: 70px;
}

.catalog-filter-group.preise {
    margin-left: auto;
    margin-right: 70px;
}

.filter-preise{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    font-family: inherit;
}

.button-filter-container {
    width: 191px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: inherit;
    border: none;
    text-decoration: none;
}

.button-apply {
    background-color: #82B3D3;
    display: flex;
    padding: 8px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 32px;
}

.button-reset {
    background-color: transparent;
    display: flex;
    padding: 8px 50px;
    justify-content: center;
    align-items: center;
}

.hotels-container {
    width: 1060px;
    min-height: 1125px;
    margin: 50px 70px 60px 70px;
}

.results {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    width: 338px;
    margin: 0;
}

/*Сначала дешевые*/

.select-control {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    width: 292px;
    margin-left: auto;
    margin-right: 70px;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    background-color: #FFFFFF;
}

.sorting-container {
    display: flex;
    height: 49px;
}

.view-sorting {
    display: flex;
    width: 160px;
    justify-content: space-between;
    background-color: #82B3D3;
    list-style: none;
    margin: 0;
}

.button-button-border {
    background-image:url(../images/catalog/view-all.svg) ;
    background-repeat: no-repeat;
}

/*Отели*/

.hotel-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hotel-item {
    width: 340px;
    height: 438px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.hotel-card-link {
  display: block;
  text-decoration: none;
}

.hotel-card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    color: #000000;
}

.hotel-type {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

.hotel-preise {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

/*подробнее*/

.hotel-card-description {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color:#FFFFFF;
    background-color: #756157;
}

/**/

.hotel-card-button {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
    border: none;
}

.rating {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    width: 140px;
    height: 37px;
    text-align: center;
}
.star {
       height: 17px;
       width: 105px;
     }
.star::before {
       content: '';
       display: block;
       height: 17px;
       background-image: url(../images/catalog/star.svg);
       background-repeat: space no-repeat;
       background-size: contain;
     }

.star-4::before {
       width: 85px;
     }
.star-3::before {
        width: 65px;
      }
.star-2::before {
        width: 35px;
    }

.pagination-list {
    list-style-type: none;
    display: flex;
    height: 60px;
    width: 400px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #82B3D3;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.pagination-link-pagination-current {
    color: #000000;
    background-color: #F2F2F2;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-text {
    width: 60px;
    height: 60px;
    background-color: #FFF;
    color: #000000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.pagination-item {
    margin-top: 40px;
}

/*Подпишитесь на рассылку*/

.newsletter-catalog {
    background: #FFF;

}
.page-footer-title.catalog {
    color: #000000;
}

.page-footer-description.catalog {
    color: #333333;
}
.e-mail-text.catalog {
    background-color: #F2F2F2;
}
